footer {
  /* height: 15vh; */
  padding-top: 25px;
}
.footer__row {
  display: flex;
  justify-content: space-between;
}
.footer__links {
  text-align: end;
}
.footer__links > ul {
  list-style-type: none;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__links > ul > li > a {
  font-size: 24px;
  text-decoration: none;
}
.footer__text {
  color: var(--dark);
  font-weight: 600;
}
@media only screen and (max-width: 500px) {
  .footer__links,
  .footer__info {
    text-align: center;
  }
}
